.cust-header
{
    background-color: rgb(13, 0, 70);
    padding: 2vw;
    color: white;
    font-size: larger;
    font-family: Audiowide, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.canvas
{
    border: 1px solid black;
    background-color: white;
}
.info-div
{
    word-wrap: normal;
}